<h1>Create a new post</h1>

<%= form_for :post, :url => {:controller => :post, action: :create} do |f| %>
  Title:<%= f.text_field :title %><br>
  Body:<%= f.text_area :body %><br>
  <%= f.submit 'Save It' %>
<% end %>